<h1>Personal Budget</h1>
<hr/>
<input id='money_made'type='number'></input>
<button type='button'id='money_made_button'>income</button><br>
<input id='money_spent'type='number'></input>
<input id='money_spent'type='number'></input>
<input id='money_spent'type='number'></input>
<button type='button'id='money_spent_button'>Enter Bill</button>
<h1 id="total"></h1>